<%= form_with(model: lobby) do |form| %>
  <% if lobby.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

      <ul>
        <% lobby.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :members, style: "display: block" %>
    <%= form.textarea :members %>
  </div>

  <div>
    <%= form.label :lobby_code, style: "display: block" %>
    <%= form.text_field :lobby_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
