<%= form_with(model: lobby) do |form| %>
  <% if lobby.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lobby.errors.count, "error") %> prohibited this lobby from being saved:</h2>

      <ul>
        <% lobby.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field:owner_id, value:current_user.id %>
  <div class="form-row">
    <div class="form-field">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-field">
      <%= form.label :description, style: "display: block" %>
      <%= form.textarea :description %>
    </div>
  </div>

  <div>
    <%= form.submit submit_text || "Create Lobby", class: "btn btn-primary", style: "margin-right: 1rem" %>
  </div>
<% end %>
