<div id="<%= dom_id lobby %>">
  <p>
    <strong>Owner:</strong>
    <%= lobby.owner_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lobby.description %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= lobby.members %>
  </p>

  <p>
    <strong>Lobby code:</strong>
    <%= lobby.lobby_code %>
  </p>

</div>
