<div class="app-container">
    <%= render 'shared/navbar' %>

    <main class="main-content">
        <div id="lobbiesPage" class="page">
            <div class="page-header align">
                <div>
                    <h1 class="page-title">Collaborative Lobbies</h1>
                    <p class="page-subtitle">Connect and code together</p>
                </div>
            </div>

            <div class="content-area">
                <div class="join-lobby-form">
                    <h3 class="page-title">Join a Lobby</h3>
                    <%= form_with(url: join_by_code_path, method: :post, class: "join-form-fields") do |form| %>
                        <%= form.text_field :lobby_code, placeholder: "Enter Lobby Code", class: "focus-time-input", required: true %>
                        <%= form.submit "Join", class: "btn btn-primary" %>
                    <% end %>
                </div>
                <hr>

                <h3 class="page-title">Your Lobbies</h3>
                <div class="lobbies-grid">
                    <% current_user.lobbies.each do |lobby| %>
                        <div class="lobby-card">
                          <%= link_to lobby_path(lobby), class: "lobby-card-link" do %>
                            <div class="card-title"><%= lobby.name.presence || 'UNNAMED LOBBY' %></div>
                            <div class="card-subtitle">Host: <%= lobby.owner.full_name %></div>
                          <% end %>
                            
                          <% if lobby.owner_id == current_user.id %>
                            <div class="card-invite-code">
                              <strong>Invite Code:</strong> <span><%= lobby.lobby_code %></span>
                            </div>
                          <% end %>
                        </div>
                    <% end %>
                </div>
         
                <hr>
                <br/>
                <%= link_to "+ Create New Lobby", new_lobby_path(), class: "btn btn-primary" %>
            </div>
        </div>
    </main>
</div>